body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cyan;
    font-weight: bold;
    font-size: 12px;
}
button{
    color: rgb(25, 31, 27);
    margin: 25px;
    align-self: center;
    background-color: rgb(148, 110, 53);
    border-radius: 15px;
}
#msg_button{
    color: rgb(10, 10, 164);
    margin: 25px;
    align-self: center;
    background-color: rgb(45, 40, 37);
    border-radius: 15px;
}




